.card {
  transition: transform 0.2s;

  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.15);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      border: 0;
      clear: both;
      display: block;
      width: 96%;
      background-color: black;
      height: 1px;
    }

    .card-text {
      margin-bottom: 0.75rem;
      list-style: circle;
    }
    .card-movies {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 0.75rem;
      list-style: circle;
    }

    .card-title {
      font-family: "Unica One", sans-serif;
      text-align: left;
      font-size: 20px;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
