.actors-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px;
  min-height: 78.8vh;
  background-color: rgba(0, 0, 0, 0.734);
  color: whitesmoke;

  &__title {
    text-align: center;
    font-family: "Unica One", sans-serif;
    font-size: 40px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    color: rgba(0, 0, 0, 0.734);

    .card {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.15);
      }

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-text {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
