<div class="add-movie">
  <div class="add-movie__form">
    <h3 class="add-movie__form--title">
      {{ isEdit ? "Edit" : "Add" }} your movie
    </h3>
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="text"
          aria-describedby="title"
          formControlName="title"
        />
        <small
          *ngIf="
            registerForm.get('title')?.invalid &&
            registerForm.get('title')?.touched
          "
          >*Title must contain at least 3 letters and end with "PELÍCULA
          AÑADIDA".</small
        >
      </div>
      <div class="form-group">
        <label for="poster">Cover</label>
        <input
          type="url"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="poster"
        />
        <small
          *ngIf="
            registerForm.get('poster')?.invalid &&
            registerForm.get('poster')?.touched
          "
          >*You need to insert a cover.</small
        >
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select
          class="form-control"
          id="genre"
          formControlName="genre"
          multiple
        >
          <option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </option>
        </select>
        <small
          *ngIf="
            registerForm.get('genre')?.invalid &&
            registerForm.get('genre')?.touched
          "
          >*You need to choose a genre.</small
        >
      </div>
      <div class="form-group">
        <label for="actors">Actors</label>
        <select
          class="form-control"
          id="actors"
          formControlName="actors"
          multiple
        >
          <option *ngFor="let actor of actors" [value]="actor.id">
            {{ actor.nombre_completo }}
          </option>
        </select>
        <small
          *ngIf="
            registerForm.get('actors')?.invalid &&
            registerForm.get('actors')?.touched
          "
          >*You need to select an actor.</small
        >
      </div>
      <div class="form-group">
        <label for="companies">Film Studios</label>
        <select
          class="form-control"
          id="companies"
          formControlName="companies"
          multiple
        >
          <option *ngFor="let company of companies" [value]="company.id">
            {{ company.name }}
          </option>
        </select>
        <small
          *ngIf="
            registerForm.get('companies')?.invalid &&
            registerForm.get('companies')?.touched
          "
          >*You need to select a film studios.</small
        >
      </div>
      <div class="form-group">
        <label for="year">Year</label>
        <input
          type="number"
          class="form-control"
          id="year"
          formControlName="year"
        />
        <small
          *ngIf="
            registerForm.get('year')?.invalid &&
            registerForm.get('year')?.touched
          "
          >*You must insert a year between 1940 and 2023.</small
        >
      </div>
      <div class="form-group">
        <label for="duration">Duration (min)</label>
        <input
          type="number"
          class="form-control"
          id="duration"
          formControlName="duration"
        />
        <small
          *ngIf="
            registerForm.get('duration')?.invalid &&
            registerForm.get('duration')?.touched
          "
          >*It must be at least 1 min long.</small
        >
      </div>
      <div class="form-group">
        <label for="number">Rating</label>
        <input
          type="number"
          class="form-control"
          id="imdbRating"
          formControlName="imdbRating"
        />
        <small
          *ngIf="
            registerForm.get('imdbRating')?.invalid &&
            registerForm.get('imdbRating')?.touched
          "
          >*You must choose a rating between 1 and 10.</small
        >
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="registerForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
